.module-item-wrapper-grid .module-star-ranking-grid-0 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-0:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-0:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E839";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-05 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-05:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-05:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E839";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-1 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-1:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-1:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E838";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-15 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-15:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-15:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E838\E839";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-2 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-2:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-2:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E838\E838";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-25 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-25:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-25:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E838\E838\E839";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-3 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-3:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-3:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E838\E838\E838";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-35 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-35:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-35:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-4 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-4:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-4:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-45 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-45:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-45:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E839";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }

.module-item-wrapper-grid .module-star-ranking-grid-5 {
  display: inline;
  position: absolute;
  left: 5%;
  bottom: 10%; }

.module-item-wrapper-grid .module-star-ranking-grid-5:before {
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #6C868E;
  float: left;
  font-size: 1.1em; }

.module-item-wrapper-grid .module-star-ranking-grid-5:after {
  position: absolute;
  font-family: 'Material Icons';
  content: "\E838\E838\E838\E838\E838";
  color: #FFD100;
  font-size: 1.1em;
  left: 0;
  bottom: 0; }
